#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            retro-tap;
            hold-while-undecided;
        };

        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TOG";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp F  &kp P  &kp G  &kp J  &kp L  &kp U  &kp Y  &kp SQT  &kp EQUAL  &hold_tap LS(LEFT_ALT) TAB  &kp A  &kp R  &kp S  &kp T  &kp D  &kp H  &kp N  &kp E  &kp I  &kp O  &kp ENTER  &kp LSHFT  &hold_tap LCTRL Z  &kp X  &kp C  &kp V  &hold_tap LEFT_GUI B  &kp K  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp SEMICOLON  &kp LGUI  &kp SPACE  &mo_tog 1 1  &mo_tog 2 2  &kp BACKSPACE  &kp RALT
            >;
        };

        symbol {
            display-name = "SYM";
            bindings = <
&kp GRAVE  &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)  &kp BSPC  &kp HOME  &kp GRAVE  &kp TILDE  &none  &none  &kp C_VOLUME_UP  &kp LA(LEFT_ARROW)  &kp UP  &kp LA(RIGHT)  &kp LS(LBRC)  &kp LS(RBRC)  &kp PAGE_UP  &kp END  &kp BACKSLASH  &kp PIPE  &none  &none  &kp C_VOLUME_DOWN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LEFT_BRACE  &kp RBKT  &kp PAGE_DOWN  &trans  &none  &trans  &trans  &none  &trans
            >;
        };

        number {
            display-name = "NUM";
            bindings = <
&none  &none  &none  &none  &none  &none  &kp LEFT_PARENTHESIS  &kp N7  &kp N8  &kp N9  &kp RPAR  &kp BSPC  &none  &none  &none  &none  &none  &none  &kp PLUS  &kp N4  &kp N5  &kp N6  &kp MINUS  &kp EQUAL  &none  &none  &none  &none  &none  &kp LEFT_GUI  &kp ASTERISK  &kp N1  &kp N2  &kp N3  &kp SLASH  &kp PERIOD  &none  &none  &trans  &trans  &none  &kp N0
            >;
        };
    };
};
